@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-black);
}

:root{
    --color-black: #0a0a0a;
    --primery-color: #e6e4e6;
}

.theme-dark{
    --primery-color: #2a2c2d;
    --color-black: #fff;
    --hero-circle-color: #fff;
    --hero-arrrow-down-btn: invert(100%);
}

.theme-light{
    background-color: var(--primery-color);
    --hero-circle-color: #ea9577;
}

html{
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

body{
    background-color: var(--primery-color);
    overflow-x: hidden;
    transition: .3s ease all;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section{
    margin: 2rem 0;
}

.navbar{
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.logo{
    padding-left: 1rem;
}

.navbar a::before{
    content: '';
    display: block;
    padding: 1px;
    font-weight: 300;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #6c3f32 50%, transparent 50%) 100% 1;
    width: 0;
    transition: .3s ease-in-out width;
}

.navbar a::after{
    content: '';
    display: block;
    padding: 1px;
    font-weight: 300;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent 50%, #6c3f32 50%) 100% 1;
    width: 0;
    transition: .3s ease-in-out width;
}

.navbar a:hover::after,.navbar a:hover::before{
    width: 100%;
}

.switcher{
    position: fixed;
    z-index: 2;
    border: 3px ridge #0a0a0a;
    padding: .1rem;
}

.switcher button{
    border: none;
    cursor: pointer;
}

.dark-switcher{
    font-size: 1rem;
    padding: 2px;
    color: white;
    background: #000;
}

.light-switcher{
    font-size: 1rem;
    padding: 2px;
    color: black;
    background: white;
}

.dark-switcher:focus{
    border: 3px solid #f3ae36;
    transform: scale(1.1);
}

.light-switcher:focus{
    border: 3px solid black;
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, .3);
    transform: scale(1.1);
}

.hero-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}

.hero-block h3{
    text-align: center;
    font-size: 2rem;
    max-width: 35rem;
    margin: auto;
}

.circle{
    border: 20px solid var(--hero-circle-color);
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    position: relative;
    top: 10%; left: 75%; bottom: 0; right: 0;
    margin: auto;
    position: absolute;
    display: block;
    transform-origin: -200% center;
}

.dot-linkedin, .dot-Instagram{
    position: absolute;
    overflow: hidden;
    width: 20%;
    height: 20%;
    top: 0; left: 90%; bottom: 0; right: 0;
    margin: auto;
    position: absolute;
    display: block;
    transform-origin: -210% center;
    animation: circle 4s infinite linear;
    transition: 1s ease-in-out transform;
}

.circle img{
    transform: rotate(180deg);
    border: 1px solid #e6e4e6;
    border-radius: 50%;
    background-color: #e6e4e6;
}

.circle:hover .dot-linkedin{
    transform: rotate(180deg);
}

.circle:hover .dot-Instagram{
    transform: rotate(150deg);
}

.hero-block-description{
    padding: 5rem 10rem;
    text-align: center;
}

.hero-block-description p{
    font-weight: 300;
    font-size: 1.2rem;
    margin: 2rem;
}

.hero-block-description .scroll-down{
    margin: 2rem 0;
}

.down-arrey img{
    filter: var(--hero-arrrow-down-btn);
    width: 100px;
    transition: .3s ease-in-out all;
}

.down-arrey:hover img{
    transform: translateY(10px);
}

.about{
    margin: 8rem 0;
    display: flex;
    align-items: center;
}

.about-text{
    max-width: 50%;
}

.about-text h3{
    margin: 1rem;
    font-size: 2rem;
}

.about-text p{
    margin: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

.skills{
    border-left: 1px solid var(--hero-circle-color);
    padding: 1rem;
}

.skills h3{
    margin: 1rem 1rem 5rem;
    font-size: 2rem;
    text-align: center;
}

.skills .icon-container img{
    width: 10rem;
    padding: .5rem;
    border: 2px solid transparent;
    box-shadow: 5px 5px 20px #2a2c2d;
    border-radius: 50%;
    filter: var(--hero-arrrow-down-btn);
}

.icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.skills-red-circle{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    flex-wrap: wrap;
}

.skills-red-circles{
    background: var(--hero-circle-color);
    display: flex;
    align-items: center;
    overflow: visible;
    text-align: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.skills-red-circles p{
    color: var(--primery-color);
}